/*-------  ここから共通のCSS（変更不要）  --------*/
body {
  margin: 0;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  /*-webkit-font-smoothing: antialiased;*/
  font-size: 14px;
  color: #888;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #323A45;
  transition: all .3s;
}

a :hover {
  color: #0dc0c0;
  text-decoration: none;
}

h2, h3, h4, h5, h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 400;
}

h4, h5 {
  color: #444;
  font-size: 18px;
}

.container {
  width: 1170px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.section-title {
  color: #555;
  padding-top: 60px;
  padding-bottom: 10px;
  text-align: center;
}

.section-title h3 {
  margin: 10px 0;
  font-size: 32px;
  font-weight: 300;
  line-height: 36px;
}

.gray-section {
  background: #f4f4f4;
  color: #888;
}

/*-------  ここまで共通のCSS（変更不要） --------*/

/*------- ここからCSSを書き始めてください --------*/

/* --Header-- */
header {
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  line-height: 50px;
  box-shadow: -1px 1px 1px rgba(0,0,0,0.1);
  z-index: 10;
}

.header-title {
  float: left;
}

.header-logo {
  color: #777;
  font-weight: 700;
  font-size: 22px;
  font-family: 'Dosis', sans-serif;
}

.header-container {
  padding: 0px 60px 0px 60px;
}

.header-menu-right {
  float: right;
}

.header-menu-right li {
  float: left;
}

.header-menu-right a {
  font-weight: 700;
  color: #323A45;
  line-height: 29px;
  padding: 10px;
}

.header-menu-right li :hover {
  color: #0dc0c0;
}

/* --Top content-- */
.top-section {
  margin: 0 auto;
  text-align: center;
  color: #fff;
  background-image: url("https://s3-ap-northeast-1.amazonaws.com/progate/lesson_images/html/practice/backgrounds/top.jpg");
  background-size: cover;
}

.inner-bg {
  padding: 0;
  padding-top: 180px;
  padding-bottom: 120px;
  background-color: rgba(0, 0, 0, 0.6);
}

.top-description {
  margin-top: 30px;
  margin-bottom: 20px;
}

.top-description h2 {
  font-family: 'Dosis', sans-serif;
  color: #f3f3f3;
  font-size: 48px;
  line-height: 54px;
  margin: 10px 0 30px 0;
  font-weight: 400;
}

.top-description p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  line-height: 30px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  margin: 20px;
  font-weight: 600;
  font-family: 'Dosis', sans-serif;
  font-size: 18px;
  cursor: pointer;
  transition: all .3s;
  border-radius: 4px;
}

.btn-lg {
  line-height: 1.3333333;
  border-radius: 6px;
}

.btn-top-white {
  background: rgba(250, 250, 250, 0.06);
  border: 1px solid rgba(250, 250, 250, 0.15);
  color: rgba(250, 250, 250, 0.9);
  box-shadow:  0 1px 3px rgba(0, 0, 0, 0.1);
}

.btn-top-white :hover {
  background: rgba(250, 250, 250, 0.05);
  border: 1px solid rgba(250, 250, 250, 0.8);
  color: #fff !important;
  box-shadow: 0 0px 12px rgba(250, 250, 250, 0.15)
}

.btn.active {
  background-image: none;
  outline: 0;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

#more-text {
  display: none;
}


/* --Language-- */
.languages-section {
  padding-bottom: 60px;
  color: #888;
  text-align: center;
}

.languages-box-wrapper {
  width: 80%;
  margin: 0 auto;
}

.languages-box {
  display: inline-block;
  vertical-align: top;
  width: 38%;
  padding: 20px;
}

.languages-box p {
  display: none;
}

/* --Features-- */
.features-section-top {
  text-align: center;
  height: 376px;
}

.features-section-bottom {
  padding-top : 120px;
}

.features-box {
  display: inline-block;
  vertical-align: top;
  width: 40%;
  padding-left: 65px;
  padding-bottom: 60px;
  text-align: left;
}

/* --Pricing-- */
.pricing-section {
  padding-bottom: 50px;
  text-align: center;
}

.price-column {
  display: inline-block;
  vertical-align: top;
  width: 28%;
  padding: 25px 15px 15px 15px;
  margin: 0 1%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  background-color: #fff;
  text-align: center;
  font-family: 'Dosis', sans-serif;
}

.price-column li :first-child {
  border-top: none;
}

.price-column li {
  border-top: 1px solid #eee;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: #888;
  font-weight: 400;
  padding: 18px 0;
}

.price-column h2 {
  color: #fff;
  font-size: 32px;
  margin-bottom: 0;
  padding: 30px 0;
 background: #323A45;
 width: 100%;
}

.price-column h3 {
  color: #555;
  background: #f0f0f0;
  margin-bottom: 0;
  margin-top: 0;
  padding: 40px 0;
  font-size: 30px;
  width: 100%;
}

.price-column-green h2 {
  background: #0DC0C0;
}

.price-column ul {
  padding: 30px;
}

.btn-pricing {
  background: #2d323a;
  border: 1px solid #24282e;
  color: #c9d1d6;
}

/* --Mentors-- */
.mentors-section {
  text-align: center;
}

.mentor-box {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 50px;
}

.mentor-image {
  width: 200px;
  height: 200px;
  margin: 10px 0;
  padding: 0px;
  border-radius: 50%;
}

.message-section {
  color: white;
  background: url("https://s3-ap-northeast-1.amazonaws.com/progate/lesson_images/html/practice/backgrounds/night_view.jpg");
  background-size: cover;
  text-align: center;
}

.message-section-inner {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 140px 0;
}

.message-section h4 {
  color: white;
  font-size: 22px;
  line-height: 40px;
}

/* --Columns-- */
.columns-section {
  text-align: center;
  padding-bottom: 30px;
}

.filters-wrapper {
  margin-bottom: 40px;
}

.filter-item-active {
  background: #009ca8;
  color: #fff;
  cursor: default;
}

.filter-item {
  background-color: #FFFFFF;
  color: #323A45;
  cursor: pointer;
  font-weight: 600;
  font-family: 'Dosis', sans-serif;
  font-size: 16px;
  margin: 10px 5px 0 0;
  padding: 8px 16px;
  display: inline-block;
  transition: all.3s;
}

.column-box {
  display: inline-block;
  vertical-align: top;
  width: 40%;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  margin: 0 15px 30px;
  padding: 7px 7px 27px;
}

.column-title {
  display: block;
  margin-top: 17px;
  color: #444;
  font-size: 17px;
  font-weight: 600;
}

.column-box img {
  width: 100%;
}

/* --Contact-- */
.contact-section {
  background: url("https://s3-ap-northeast-1.amazonaws.com/progate/lesson_images/html/practice/backgrounds/contact.jpg");
  background-size: cover;
  color: white;
}

.contact-section-inner {
  background-color: rgba(0, 0, 0, 0.6);
  padding-bottom: 70px;
}

.contact-form {
  display: inline-block;
  vertical-align: top;
  width: 58%;
}

.contact-form h4 {
  color: white;
}

.contact-section h3 {
  color: white;
}

.contact-section h4 {
  font-size: 22px;
  padding-bottom: 10px;
}

.contact-about h4 {
  color: white;
}

.contact-about p {
  margin: 0 0 24px;
  line-height: 24px;
}

input[type="text"], textarea {
  margin: 0;
  padding: 0 10px;
  vertical-align: middle;
  background: rgba(250, 250, 250, 0.08);
  border: none;
  width: 85%;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  border-radius: 0;
  box-shadow: none;
  transition: all .3s;
  margin-bottom: 20px;
  padding: 15px;
}

textarea {
  height: 150px;
}

.btn-contact {
  font-family: 'Dosis', sans-serif;
  font-size: 18px;
  font-weight: 600;
  background: #0dc0c0;
  border: 1px solid #09b1b9;
  color: white;
  box-shadow: inset 0 1px 0 #0fc8c8;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  transition: all .3s;
  margin: 10px 0;
  padding: 15px 35px;
}

.contact-about {
  display: inline-block;
  vertical-align: top;
  width: 40%;
}

/* --Social-- */
.social-section {
  text-align: center;
  padding-bottom: 50px;
}

.social-section h3 {
  font-weight: 300;
}

.social-icon {
  text-align: center;
  font-size: 36px;
  line-height: 76px;
  color: #323A45;
  padding: 5px;
  transition: all .3s;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
}

.section-title-followus {
  color: #555;
  padding-top: 60px;
  padding-bottom: 5px;
  text-align: center;
}

.section-title-followus h3 {
  font-size: 32px;
}

footer {
  text-align: center;
  padding: 39px 0 36px;
  background: #222;
  color: #999;
}